attrs==21.2.0
backcall==0.2.0
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.4
click==7.1.2
colorama==0.4.4
cx-Oracle==8.2.1
decorator==5.0.9
frictionless==4.16.2
greenlet==1.1.1
idna==3.2
ipdb==0.13.9
ipython==7.26.0
ipython-genutils==0.2.0
isodate==0.6.0
jedi==0.18.0
jsonschema==3.2.0
matplotlib-inline==0.1.2
parso==0.8.2
petl==1.7.4
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.20
ptyprocess==0.7.0
Pygments==2.10.0
pyrsistent==0.18.0
python-dateutil==2.8.2
python-slugify==5.0.2
PyYAML==5.4.1
requests==2.26.0
rfc3986==1.5.0
shellingham==1.4.0
simpleeval==0.9.10
six==1.16.0
SQLAlchemy==1.4.23
stringcase==1.2.0
text-unidecode==1.3
toml==0.10.2
traitlets==5.0.5
typer==0.3.2
urllib3==1.26.6
validators==0.18.2
wcwidth==0.2.5
